

.mySidebar {
    display:none;
    z-index:2;
    width:40%;
    min-width:300px
}

body,h1,h2,h3,h4,h5,h6 {
    font-family:Trebuchet MS, sans-serife;
}

.padding-32{
    font-size:17px;}

.bar-block .bar-item {
    padding:20px}

 .top {
     max-width:1200px;
     margin:auto;}

 .main .contain .padding {
    max-width:1200px;
    margin-top:100px"
 }    

.white .xlarge {
    max-width:1200px;
    margin:auto;
}